body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
}

canvas{
    border: 3px solid white;
    box-shadow: 0px 0px 30px 30px rgba(255, 255, 255, 0.2);
}